{
    "presets": [
        "@babel/preset-typescript",
        "@babel/preset-react",
        [
            "@babel/env",
            {
                "targets": "last 1 version, > 1%",
            },
        ],
    ],
}
